<html>
	
<head>
	<title>Please search for movies!</title>
</head>
<body>
<br>
<br>
<div class="span10">
<form class="form-search" action='/search' method='get'>
	
	<input type='text' name='movie_title' class="input-medium search-query" placeholder="Enter a movie" autofocus/>
	<button class="btn btn-primary">SEARCH</button>
</form>
</div>
<br>
</div>
	
</body>
</html>